@import '../../assets/styles/main';

.home p {
  color: $blue;
}

.home-block {
  width: 100%;
  height: auto;
}

.full-size-image {
  background: url('/images/bmw-custom-bike-1.jpg') no-repeat center;
  background-size: cover;
  height: 50vw;
}

.about-me {

}

.recent-projects {

}

.contact {

}
